<% provide(:title, "Dashboard") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

    	<div class="col-md-9">
    		<div class="thumbnail">
        	<%= link_to image_tag("defaultuser.png") %>
          <span class="btn btn-default">
            Upload Picture
          </span>
          <div class="caption">
            <h1>
        	   <%= @user.first_name + " " + @user.last_name[0] + "." %>
      	    </h1>
      	  </div>
      	</div>
      </div>
    </section>
  </aside>
</div>