<div class="row">
<% @photo.each do |photo| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
			<%= image_tag photo.image_url(:thumb) if photo.image? %>
      <div class="caption">
				<%= photo.title %>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
 <% end %>
</div>
