<div class="row" id="photo-row">
<% @photo.each do |photo| %>
<li id="photo-<%= photo.id %>">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
			<%= image_tag photo.image_url(:thumb) if photo.image? %>
      <div class="caption">
				<%= photo.title %>
        <p><a href="#" class="btn btn-primary" role="button"><%= link_to 'Remove', delete_photo_path(photo), method: :delete, remote: true %></a></p>
      </div>
    </div>
  </div>
  </li>
 <% end %>
</div>
