<div class="row" id="photo-row">
<% @photo.each do |photo| %>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
			<%= image_tag photo.image_url(:thumb) if photo.image? %>
      <div class="caption">
				<%= photo.title %>
        <%= link_to 'Remove', delete_photo_path(photo), method: :delete, remote: true, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  
 <% end %>
</div>
