<div class="navbar navbar-default search-nav">
        <div class="container-fluid">
            <div class="collapse navbar-collapse main-nav">
                <ul class="nav navbar-nav">
asdf
                    <li class="divider-vertical"></li>
                    asdf
                    <li class="divider-vertical"></li>
                    sdaf
                    <li <% if current_page?(account_path) -%>class="active"<% end -%>><%= link_to "Account", account_path %></li>
                </ul>
            </div>
        </div>
    </div>
</header>