<div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="collapse navbar-collapse main-nav">
                <ul class="nav navbar-nav">
                    <li <% if current_page?(dashboard_path) -%>class="active"<% end -%>><%= link_to "Dashboard", dashboard_path %></li>
                    <li class="divider-vertical"></li>
                    <li <% if current_page?(rack_path) || current_page?(reservations_path) -%>class="active"<% end -%>><%= link_to "Rack", rack_path %></li>
                    <li class="divider-vertical"></li>
                    <li <% if current_page?(account_path) -%>class="active"<% end -%>><%= link_to "Account", account_path %></li>
                </ul>
            </div>
        </div>
    </div>
</header>